body{
    font-family: 'Segoe UI','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background:indigo;
    color: #f9f3f3;
}

header{
    background: #000000;
    color: #fffdfd;
    padding: 1em 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: canter;
    max-width: 960px;
    margin: auto;
    padding: 0 1em;
}

nav h1{
    margin: 0;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 1em;
}

nav  ul li a {
    color: white;
    text-decoration: none;
}

#hero{
    background: #000000;
    color: white;
    text-align: center;
    padding: 4em 1em;
}

.btn{
    background: white;
    color: #000000;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section{
    max-width: 960px;
    margin: 2em auto;
    padding: 0 1em;
}

.profile {
    text-align: center;
    margin-top: 50px;
}

.profile img{
    background: fixed;
    width: 350px;
    height: 350px;
    border-radius: 200%;
    object-fit: none;
}

.profile h2{
    margin: 10px 0 5px;
}

.profile p{
    color: #ffffff;
}


.project-grig{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.project-card{
    background: rgb(0, 0, 0);
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.project-card img {
    width: 100%;
    border-radius: 5px;
}

footer{
    text-align: center;
    background: #000000;
    color: white;
    padding: 1em 0;
    margin-top: 2em;
}

@media(max-width:768px){
    .project-grig{
        grid-template-columns: 1fr;
    }
    nav ul{
        flex-direction: column;
        align-items: flex-start;
    }
}